body {
  margin: 0;
  font-family: 'Poppins', sans-serif, 'PT Serif', serif;
overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-title{
  color: var(--bs-success-text-emphasis);
}
.btn-indigo{
  background-color: var(--bs-indigo);
  color: white;
}
.btn-indigo:hover{
  background-color:#3b088d ;
  color: white;
}
:root{
  --bs-blue-color:  #a9def9; 
  --bs-pink-color: #ff99c8;
  --bs-purple-color: #e4c1f9;
  --bs-yellow-color: #fcf6bd;
  --bs-green-color:#d0f4de;
}
.btn{
box-shadow: none !important;
}

.color-orange{
  color: var(--mdb-orange);
}
.full-body-main{
  position: relative;
  min-height: 100vh;
}

.border-below{
border-bottom: 1px solid rgb(161, 161, 161);
}

.footer-link{
  padding-top: 0.6rem;
}
.footer-link:hover{
color:var(--mdb-orange) !important
}
.button-outline-footer{
  background-color: black;
  border:2px solid white;
  font-size: 1.25rem;
}