body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-family: 'Poppins', sans-serif;
overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-serif{
  font-family: 'Playfair Display', serif;
}
.card-title{
  color: var(--bs-success-text-emphasis);
}
.btn-indigo{
  background-color: var(--bs-indigo);
  color: white;
}
.btn-indigo:hover{
  background-color:#3b088d ;
  color: white;
}
:root{
  --bs-blue-color:  #a9def9; 
  --bs-pink-color: #ff99c8;
  --bs-purple-color: #e4c1f9;
  --bs-yellow-color: #fcf6bd;
  --bs-green-color:#d0f4de;
}
.bg-home{
  background-color: #e4c1f977;
}
.btn{
box-shadow: none !important;
}
.bg-light-purple{
  background-color: var(--bs-purple-color);
}
.bg-li
.color-orange{
  color: var(--mdb-orange);
}
.full-body-main{
  position: relative;
  min-height: 100vh;
}

.border-below{
border-bottom: 1px solid rgb(161, 161, 161);
}

.footer-link{
  padding-top: 0.6rem;
}
.footer-link:hover{
color:var(--mdb-orange) !important
}
.button-outline-footer{
  background-color: black;
  border:2px solid white;
  font-size: 1.25rem;
}
.head-margin{
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.bg-cream{
  background: #f8f8f8;
  width: 100vw;
}
.bg-light-white{
  background: #f8f8f8;
}
.extra-shadow{
  box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08) !important;
}
.font-small{
  font-size: 12px;

}
@media (min-width:60em) {
  .head-margin{
    margin-top: 9rem;
    margin-bottom: 2rem;
  } 
}